:root {
  --dark-green: #143444;
  --mygray: #666666;
  --light-green: #377fa3;
  --myorange: #e65918;
  --light-orange: #f2570fdb;
  --lighter-green: #b4e6ccdb;
  --light-gray: #c2c2c2;
  --clear-green: #1434444d;
}
.txt-green {
  color: var(--dark-green);
}
.txt-gray {
  color: var(--mygray) !important;
}

i {
  vertical-align: middle;
  transition: 0.3s ease-in-out;
}
a {
  cursor: pointer;
}
button {
  border: none;
  transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
}
button:hover {
  filter: brightness(120%);
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
.ispinner {
  display: none;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.active-search {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--search-field-padding) - 25px);
}

.modal-bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 3;
}

@keyframes spin {
  30% {
    opacity: 1;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  }
}

body {
  font-family: "Work Sans", sans-serif;
}
.my-link {
  text-decoration: none !important;
}

/* dropdowns */
.dropdown-toggle::after {
  display: none !important;
}

.drop-menu {
  left: -20% !important;
  min-width: 40px !important;
}

.option-placeholder {
  min-width: 150px;
  font-size: 15px;
}
.bg-pry {
  background-color: var(--dark-green);
}
/* Search */
.search-input::-webkit-search-cancel-button {
  display: none !important;
}
.search-input::-ms-clear {
  display: none !important;
}
.search-input::-moz-search-cancel-button {
  display: none !important;
}
.search-input {
  border-right: 1px solid gray !important;
  min-width: 300px;
}
.search-form {
  width: 538px;
  --search-field-padding: 35px;
  --search-padding-sm: 0.75rem;
}
.clear-button {
  display: none;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.clear-button i {
  color: var(--light-gray);
  font-size: 20px;
}
.clear-button:hover {
  opacity: 0.7;
}

@media (max-width: 1199px) {
  .search-form {
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
  }
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 27px;
  height: 22px;
  position: relative;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  /* position: absolute; */
  height: 4px;
  width: 100%;
  background: var(--myorange);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: translateY(9px) rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg);
}

*/
  /* Search dropdown */
 

  
  .select-menu {
  max-width: 330px;
  text-align: center;
}
@media (min-width: 1090px) {
  .select-menu {
    display: block;
  }
}
.select-btn {
  font-size: 16px;
}
.select-menu .select-btn {
  display: flex;
  height: 40px;
  background: #fff;
  font-weight: 400;
  /* border-radius: 8px; */
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}
.select-menu .options {
  position: absolute;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px 15px;
  top: 55px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  display: none;
}

.select-menu .options .option {
  display: flex;
  cursor: pointer;
  overflow: clip;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.options .option i {
  font-size: 20px;
  margin-right: 12px;
}
.option .option-text {
  font-size: 16px;
  width: 100%;
  color: #333;
}
.option .radio-btn {
  width: 100%;
  text-align: left;
  position: relative;
}
.radio-btn span {
  padding: 18px 16px;
  display: block;
}
.radio-cat:checked + span {
  background-color: var(--lighter-green);
}

.select-btn i {
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}

.select-menu.active .options {
  display: block;
  opacity: 0;

  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.logo,
#right-box {
  width: calc(240px + 1vw);
  max-width: 300px;
}
.side-logo {
  /* background-color: var(); */
}

@media (max-width: 1199px) {
  .select-menu .options {
    padding: 5px 7px;
  }
  #right-box,
  .logo {
    width: calc(120px + 0.8vw);
  }
}
.user {
  border-right: 2px solid var(--myorange);
  padding-right: clamp(15px, 1.3vw, 22px);
}

.signing-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: text-decoration 0.5s ease-in;
}
.signing-btn:is(:hover, :active) {
  text-decoration: underline;
}
.cart-list {
  position: relative;
}
.cart-list i,
.favorite i,
.user-icon i {
  color: #fff;
  cursor: pointer;
  font-size: clamp(18px, 1.6vw, 24px);
  transition: color 0.5s ease-in-out;
}
.cart-list i:is(:hover, :active),
.favorite i:is(:hover, :active),
.user-icon i:is(:hover, :active) {
  opacity: 0.8;
}
.item-count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--myorange);
  border-radius: 50%;
  top: -0.5rem;
  right: -0.75rem;
  z-index: 1;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #fff;
}
.main-nav {
}
nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
}
.main-nav ul {
  width: 80%;
  max-width: 800px;
}
.nav_item {
  display: block;
  color: var(--light-green);
  font-weight: 500;
  position: relative;
}
.main-nav .nav_item::after {
  content: "";
  position: absolute;
  width: 0px;
  opacity: 0;
  height: 3px;
  border-radius: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--dark-green);
  transition: 0.3s;
  z-index: 2;
}
.nav_item:is(:hover, :active)::after {
  width: 100%;
  opacity: 1;
}
.main-nav li a {
}

.main-nav li a:is(:hover, :focus, :active) {
  color: var(--dark-green);
}
.search-content {
  display: none;
  position: absolute;
  height: 30vh;
  min-height: 100px;
  width: 100%;
  top: 50px;
  z-index: 15;
  border-radius: 20px;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  animation: fadeInContent 0.4s ease;
}
@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@media (max-width: 978px) {
  #topnav-logo.logo {
    margin-left: auto;
    margin-right: auto !important;
    width: fit-content;
  }

  .main-nav {
    display: none !important;
  }

  #right-box,
  .menu-toggle {
    width: calc(90px + 2.5vw);
  }
  .menu-toggle {
    display: inline-flex !important;
    align-items: center;
  }
  .menu-toggle i.bx {
    display: inline-block;
    font-size: calc(24px + 0.4vw);
    color: #fff;
  }
  #searchBox {
    display: none !important;
  }
  .search-icon {
    display: inline-block !important;
  }
  .search-icon i {
    font-size: calc(16px + 0.7vw);
    color: #fff;
  }
  .search-form {
    border: 1px solid var(--dark-green);
    display: flex !important;
  }
  .search-form.focused {
    box-shadow: var(--clear-green) 0px 4px 12px;
  }
  .search-input {
    min-width: 290px;
  }
  .search-block {
    display: block !important;
    width: max-content;
  }
}

@media (max-width: 575px) {
  .category-sec {
    display: block !important;
  }
  #category-md {
    display: none !important;
  }
  .search-form {
    position: relative;
    width: 100%;
    --search-padding-sm: 30px;
  }
  .search-input {
    width: 100%;
    background-color: transparent;
  }
  #right-box .user {
    display: none;
  }
  #right-box,
  .menu-toggle {
    width: calc(55px + 0.8vw);
  }
  .search-form .search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
  .search-form .search-btn i {
    color: var(--mygray) !important;
    padding: 0;
    margin: 0;
  }
  .search-input {
    border-right: 0 !important;
    padding-left: 40px;
  }
  header + .search-block {
    width: 90%;
  }
  .search-content {
    /* width: 90%;
    transform: translateX(-50%);
    left: 50%; */
  }
  .mobile-search {
    background-color: var(--dark-green) !important;
    position: relative !important;
    transform: translateY(0%) !important;
    z-index: 3;
  }
  .search-btn.mobile-search > i {
    color: #fff !important;
  }
  .mobile-search > * {
    animation: none;
    transition: none;
  }
}

.side-bar .nav_item {
  position: relative;
}

.side-bar .nav_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0px;
  opacity: 0;
  background-color: var(--dark-green);
  transition: none;
}
.side-bar .nav_item:hover::before {
  height: 100%;
  opacity: 1;
  transition: 0.3s linear;
}
.side-bar .nav_item:hover {
  color: var(--dark-green);
  background-color: var(--lighter-green);
}
.side-bar .favorite i:hover {
  color: var(--light-green);
}
ul a {
  width: 100%;
}
.drop-list + ul {
  height: 0px;
  opacity: 0;
  transition: height 0.2s ease-in, opacity 0.2s ease-in 0.05s;
}
.open.drop-list + ul {
  height: 150px;
  opacity: 1;
}
.drop-list span + i {
  transition: transform 0.2s ease-in;
}
.open.drop-list span + i {
  transform: rotate(90deg);
}
.radio-btn.txt-gray {
  border-radius: 12px;
  cursor: pointer;
}
.radio-btn.txt-gray:hover {
  color: var(--dark-green) !important;

  font-weight: 500;
  background-color: var(--lighter-green);
}
.swiper-wrapper {
  height: 65vh;
  min-height: 454px;
}
.swiper img {
  width: 100%;
  /* object-position: left top; */
  object-fit: contain;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--lighter-green);
}
.swiper-slide:nth-of-type(2) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/03/tam-banner-a4.png?fit=1134%2C498&ssl=1");
}
.swiper-slide:nth-of-type(3) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2021/09/tam-quality-african-groceries-on-kitchen-counter-optim.jpg?fit=1920%2C1077&ssl=1");
}
.swiper-slide:nth-of-type(4) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2021/09/tam-doorstep-delivery-handoff-landscape-optim.jpg?fit=1920%2C1110&ssl=1");
}
.swiper-slide:nth-of-type(5) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/03/tam-banner-a14.png?fit=1134%2C498&ssl=1");
}
.swiper-slide:nth-of-type(6) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2021/03/jollof-pexels-square.jpg?fit=1500%2C1500&ssl=1");
}
.swiper-slide:nth-of-type(7) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/06/tam22-provisions-1.jpg?fit=1200%2C1200&ssl=1");
}
.swiper-slide:nth-of-type(8) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/06/obiji-peppers-and-ikwe-optim.jpeg?fit=1889%2C1190&ssl=1");
}
.swiper-slide:nth-of-type(9) {
  background-image: url("https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/03/tam-skin-like-butter-joyful-african-lady-with-short-hair-touching-her-smooth-skin-optim.jpg?fit=2250%2C1500&ssl=1");
}

/* .swiper-slide:nth-of-type(10) {
  background-image: url(https://i0.wp.com/tamhouston.com/wp-content/uploads/2022/03/tam-skin-like-butter-joyful-african-lady-with-short-hair-touching-her-smooth-skin-optim.jpg?fit=2250%2C1500&ssl=1);
} 



*/

.swiper-slide > a {
  display: block;
  height: 100%;
  padding: 50px;
  position: relative;
  text-decoration: none;
  z-index: 6;
}
.swiper-slide .description > * {
  color: #fff;
}
.description h5 {
  font-weight: 700;
  font-size: 45px;
}
.description p {
  font-size: 23px;
  font-weight: 500;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 15px;
}

.animated-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.animated-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animated-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.animated-btn-white {
  background-color: var(--myorange);
  color: #777;
}

.animated-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.animated-btn-white::after {
  background-color: var(--myorange);
}

.animated-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animation {
  -webkit-animation: moveInBottom 5s ease-out;
  animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Sign up Specific styles */
.logo-xl {
  width: 100%;
}
.round-logo {
  min-height: 140px;
  min-width: 140px;
  border-radius: 50%;
}
@media (min-width: 600px) or (min-height: 800px) {
  .round-logo {
    min-height: 200px;
    min-width: 200px;
  }
}

.myform {
  min-height: 100vh;
  max-width: 600px;
  font-size: clamp(16px, 1.4vw, 24px);
}
.sign-up label {
  display: block;
  position: relative;
}
/* .sign-up input:is(:active, :focus){
  outline:none;
  box-shadow:none;
  border-color:rgba(0, 0, 0, 0.1);
 } */

.label-text {
  display: block;
  position: absolute;
  top: 0;
  color: var(--mygray);
  left: 0;
  visibility: hidden;
  transform: translate(0.75rem, 6px);
  transition: transform 0.3s ease-in-out;
}
.sign-up .search-input:active,
.sign-up .search-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}

.sign-up .search-input:active + .label-text,
.sign-up .search-input:focus + .label-text {
  transform: translate(0, -18px) scale(0.8);
  z-index: 10;
  color: var(--light-green);
  font-weight: 500;
  background-image: linear-gradient(#fcfcfd 0%, #fcfcfd 70%, transparent 70%);
  padding-right: 20px;
  visibility: visible;
}
.form-label .form-text {
  font-size: clamp(12px, 1vw, 16px);
}
.form-label .search-input {
  border: 1px solid rgba(164, 164, 164, 0.468);
  border-top: none;
  /* outline: 1px solid gray; */
}

.pagemodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.82);
}

/* loader */
.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  /* margin: -76px 0 0 -76px; */
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@media (min-width: 700px) {
  .preloader {
    width: 200px;
    height: 200px;
  }
}
.preloader .lds-ripple {
  width: 100%;
  height: 100%;
}
@media (min-height: 950px) {
  .form-control {
    font-size: 18px;
  }
  h1.h3 {
    font-size: 60px;
  }
  .label-text {
    font-size: 20px;
  }
  .round-logo {
    width: 230px;
    height: 230px;
  }
}
.spinner {
  display: none;
}
